<?xml version="1.0" encoding="utf-8" ?>
<Jobs serverName="testserver" displayName="testserver" description="testserver">
  <Job name="dlljob" type="assembly"  path="namespance.dlljob,namespance" runInSandbox="true" cornExpress="0/1 * * * * ?"  />
  <Job name="exejob" type="exe" path="${basedir}\exejob.exe" arguments="1" cornExpress="0/2 * * * * ?"  />
</Jobs>
