<?xml version= "1.0"   encoding= "utf-8"   ?>
<nlog xmlns= "http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance" >
  <targets>
    <target xsi:type="Console" name="consolelog"   layout= "记录时间:${longdate} | 级别:${level} | 类:${callsite} | 描述:${message} ${exception}" />
    <target xsi:type= "File"   name= "tracelog"      layout= "记录时间:${longdate} | 级别:${level} | 类:${callsite} | 描述:${message} ${exception}"   fileName= "${basedir}/Logs/TaskSchedule/${shortdate}.log"  />
    <target xsi:type= "File"   name= "errorlog"    layout= "记录时间:${longdate} | 级别:${level} | 类:${callsite} | 描述:${message} ${exception}"   fileName= "${basedir}/Logs/TaskSchedule/Error/${shortdate}.log"  />
  </targets>
  <rules>
    <logger  name= "*"   minlevel= "Trace"   writeTo= "consolelog,tracelog" />
    <logger  name= "C*"   minlevel= "Error"   writeTo= "consolelog,errorlog" />
  </rules>
</nlog>
